html body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 6rem;
    font-size: 1.75em;
    color: white;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: calc(100vh - 8em);
    padding: 2em;
    box-sizing: border-box;
    overflow-y: auto;
}

.footer {
    width: 100%;
    height: 2rem;
    font-size: 0.75em;
    color: white;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    background-color: rgba(255,255,255,0.97);
    width: 100%;
}
.search input {
    font-size: 1em;
    border: 2px solid #2bb8fb;
    background-color: #fff;
    transition: .3s;
}
.search input:focus {
    border-color: #2bb8fb;
}

.search .toggle-list {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 0;
    
}

.show {
    display: block;
    position: absolute;
    top: 5em;
    right: 0;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    text-align: center;
    z-index: 999;
    transition: all 0.5s ease 0s;
}
.show div:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.hidden {
    display: none;
}

.input-container {
    position: relative;
    display: flex;
    height: 5em;
     flex-grow: 1;
}

.textarea {
    border: none;
    resize: none;
    width: 100%;
    background-color: transparent;
    padding: 0.5em;
}
.toggle-list-container {
    display: inline-block;
    width: 2em;
}

.toggle-list-container:hover {
    cursor: pointer;
    transition: 0.2s;
}

.search-label-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.search-button-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.search-button-container button {
    padding: 0.5em;
    color: rgba(0,0,0,0.75);
    outline: 0;
    border: 1px solid rgba(0,0,0,0.75);
    padding: 0.5em;
    
}

.search-button-container button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.75);
}

